/* Extra small devices(phomes ,600px and down) */
@media only screen and (max-width:600px){
}

/* Small devices (potrait tables and large phones ,600px and up */
@media only screen and (min-width:600px){    
}

/* Medium devices (landscape tables , 768px and up */
@media only screen and (min-width:768px){
}

/* Large devices (laptop/desktops, 992px and up) */
@media only screen and (min-width:992px){   
}

/* Extra large devices (extra big desktops, 1200 and up) */
@media only screen and (min-width:1200px){    
}

body {
    margin: 0%;
    bottom: 0%;
    top: 0%;
}
#home {
    background-image: url("../images/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1025px;
}
h1 {
    text-align: center;
    color: white;
    font-size: 60px;
  
}
.logo {
    padding-top:370px;
    padding-left: 800px;
}
p {
    text-align: center;
}
.mouse {
    padding-top: 320px;
    margin-left: 46%;
}
#about {
    height: 900px;
}
h2{
    text-align: center;
}
.services {
    background-image: url("../images/assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
#port1 ,#port2 ,#port3 ,#port4 {
    position:relative;
}
#port5 ,#port6 ,#port7 ,#port8 {
    position:relative;
}
#para1,#para2 ,#para3 ,#para4 {
    position:absolute;
    top:50px;
    bottom: 40;
    text-align: center;
    border: 3px solid white;
    width: 230px;
    height: 120px;
    margin-left: 14px;
    background-color: transparent;
    padding-top:25px;
    display: none;  
    color: white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
}
#para5, #para6 ,#para7 ,#para8 {
    position:absolute;
    top:50px;
    bottom: 40;
    text-align: center;
    border: 3px solid white;
    width: 230px;
    height: 120px;
    margin-left: 14px;
    padding-top:25px;
    background-color: transparent;
    display: none;  
    color: white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
}
#contact {
    background-image: url("../images/assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}
.form {
    background-color: unset;
    width:90%;
    color: white;
}
.text {
    color:white;
    height :280px;
    width: 1090px;
    background-color: unset;
}
form ::placeholder{
    color:white;  
}